---
- name: Remove Kubernetes deployment
  when:
    delete_namespace
  block:
    - name: Check if Helm release exists
      ansible.builtin.command:
        cmd: helm status {{ app_name }} --namespace {{ app_namespace }}
      register: helm_status
      failed_when: false
      changed_when: false
    - name: Uninstall the application
      kubernetes.core.helm:
        name: "{{ app_name }}"
        release_namespace: "{{ app_namespace }}"
        state: absent
        wait: "{{ helm_wait }}"
        wait_timeout: "{{ helm_timeout }}"
      when: helm_status.rc == 0
    - name: Delete namespace
      kubernetes.core.k8s:
        name: "{{ app_namespace }}"
        api_version: v1
        kind: Namespace
        state: absent
        wait: true
        wait_timeout: 300